/* Config */
body {
    margin: 0;
    overflow-y: hidden;
    font-family: "futura";
    color: #eee0c5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: rgb(32, 32, 32);
}

@font-face {
    font-family: 'futura';
    src: url('./media/futura.ttf');
}

/* Header */
#overlay {
    background-color: rgba(27, 27, 27, 0.85);
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 650px;
}

#main-logo {
    width: 75%;
    margin: 35px 0px 0px 0px;
}

/* Text */
h1 {
    text-align: center;
    font-size: 40px;
    margin: 15px 0px 15px 0px;
}

p {
    margin: 0px;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

a {
    color: #231f20;
    margin: 30px 0px 30px 0px;
    background-color: #7aad88;
    padding: 15px;
    width: 75vw;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    max-width: 400px;
    font-size: 20px;
}

a:hover {
    background-color: #638b6e;
    color: #eee0c5;
}

.warn {
    color: #dd3b33;
    margin: 0px;
}

/* Video */
.backdrop-vid {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: 100vw;
}

/* Footer */
#associated-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0px 25px 0px;
    overflow: hidden;
    max-width: 450px;
}


.associated {
    height: 100%;
    max-width: 100px;
}

#LaLlaveAllen {
    height: 95%;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .backdrop-vid {
    bottom: -175%;
}
}